uv
jupyter
datasets
pandas
numpy
fastembed
requests
openpyxl  
xlrd          
sqlalchemy 
psycopg2-binary 
pgvector 
sentence-transformers 
langchain
langchain-community
fastapi 
uvicorn
pyarrow
polars
python-dotenv
tqdm
pgcli
click
ollama 
gradio
matplotlib 
seaborn 
pydantic
